.b-box{
    background-color: black;
    color:aliceblue;
    width: 70%;
    margin-left: 10%;
margin-bottom: 10%;
    height: 40vh;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    flex-direction: column;
}

@media (min-width: 800px) {
    .b-box {
        width: 30%; 
        height: 47vh;
    }
}

.loginput22{
    height: 3vh;
    width: 70%;
    /* margin-left: 14%; */
    margin-bottom: 2%;
    border:0;
    background-color: rgb(228, 228, 228);
    color: black;
}
@media (min-width: 700px) {
    .loginput22{
       
        width: 20%;
       
       
    }
}